<!DOCTYPE html>
<html>
<head>
    <title>
        Flip+ LevelCreator</title>



        <!-- Libs =================================================================================-->

        <script src="jquery-ui-1.11.3/external/jquery/jquery.js"></script>
        <script src="jquery-ui-1.11.3/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
        <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>

        <script src="scripts/createjs-2014.12.12.min.js"></script>
        <script src="scripts/movieclip-0.8.0.min.js"></script>

        <script src="scripts/cocoon.js"></script>
        <script src="scripts/timer.js"></script>
        <script src="scripts/md5.js"></script>

        <!-- file saver -->
        <script src="scripts/FileSaver.js"></script>
        <script src="scripts/file.js"></script>

        <!-- Bitmap  patch ===================================================================-->
        <script src="scripts/BitmapScalePath.js"></script>
        <script src="scripts/getQueryVariable.js"></script>

        <!-- Data =================================================================================-->
        <script src="data/stringResources.js"></script>
        <script src="data/Levels.js"></script>
        <script src="data/Bonus.js"></script>
        <script src="data/Items.js"></script>

        <!-- Assets  ===============================================================================-->
        <script src="assets/spritesheets.js"></script>
        <script src="assets/assetsManifest.js"></script>
        <script src="assets/Intro.js"></script>
        <script src="assets/MyBots.js"></script>
        <script src="assets/LogoScreen.js"></script>
        <script src="assets/Bonus3.js"></script>

        <!-- code script -->
        <script src="scripts/script.js"></script>

        <link href="jquery-ui-1.11.3/jquery-ui.css" rel="stylesheet" />
        <link href="style/main.css" rel="stylesheet" />

        <style>
            .sortable {
                list-style-type: none;
                margin: 0;
                padding: 5px;
                width: 420px;
                min-height: 230px;
            }

                .sortable canvas {
                    margin: 3px 3px 3px 0;
                    padding: 1px;
                    width: 75px;
                    float: left;
                    height: 75px;
                    font-size: 4em;
                    text-align: center;
                    cursor: pointer;
                }

            html, body {
                margin: 10px;
                overflow: auto;
                text-align: left;
            }

            .textSpan {
                width: 104px;
                display: inline-block;
            }

            div.pannel {
                float: left;
                margin: 10px;
                padding: 20px;
                background-color: rgba(0,0,0,0.5);
                height: 660px;
            }

            .fixed {
                position: fixed;
                left: 510px;
            }

            .spinner {
                width: 60px;
            }

            h2 {
                clear: both;
            }

            canvas {
            }
        </style>

        <script>

        $(function () {
            $("input[type=button]").button()
        });


        function createCanvasThumb(canvasId, level) {
            var stage = new createjs.Stage(canvasId);

            var shape = new FlipPlus.Menu.View.LevelThumb2(level);
            shape.scaleX = shape.scaleY = 75 / 200;
            shape.x = shape.y = 75 / 2;
            stage.removeAllChildren();
            stage.addChild(shape);
            stage.update()
            shape.updateUserData();

            stage.enableDOMEvents = false;
            stage.mouseEnabled = false;
        }

        var ct;

        var myapp = angular.module('FlipPlusApp', ['ui.sortable']);

        ct = myapp.controller('LevelsSortable', function ($scope) {

            $scope.sortableOptions = {
                connectWith: ".connectedSortable",
                stop: function (event, ui) {
                    $scope.saveDefault();
                }
            };

            $scope.loadDefault = function () {
                if (localStorage.getItem("customLevels"))
                    $scope.projects = JSON.parse(localStorage.getItem("customLevels"));
                else
                    $scope.projects = levelsData;
            }

            $scope.saveDefault = function () {

                localStorage.setItem("customLevels", JSON.stringify($scope.projects));
            }

            $scope.loadFile = function () {
                loadFile(function (data) {
                    try {
                        data = data.replace("var levelsData =", "");
                        $scope.projects = JSON.parse(data);
                        setTimeout(function () { alert("Levels imported"); }, 200);
                        saveDefault();
                    } catch (er) {
                        alert("This file is invalid " + er.message);
                    }
                });
            }

            $scope.saveFile = function () {
                saveFile('Levels.js', "var levelsData =" + JSON.stringify($scope.projects))
            }

            $scope.reloadEditor = function (level) {
                if (level) {
                    FlipPlus.FlipPlusGame.toLevelCreator(level, function (level) {
                        $scope.$apply();
                        $scope.saveDefault();
                    });
                }
            }

            $scope.deleteLevel = function (index) {
                var indexl = $scope.projects[index].levels.indexOf($scope.currentLevel);
                if (indexl >= 0) {

                    if (confirm("deseja apagar o level atual?")) {
                        $scope.projects[index].levels.splice(indexl, 1);
                        $scope.saveDefault();
                    }
                }
            }

            $scope.addLevel = function (index) {
                $scope.projects[index].levels.push({});
                $scope.saveDefault();
            }

            $scope.editLevel = function (level) {

                var level = level;
                $scope.currentLevel = level;
                $scope.reloadEditor(level)
            }

            $scope.$watch('currentLevel.theme', function (value) {
                $scope.reloadEditor($scope.currentLevel)
            });
            $scope.$watch('currentLevel.type', function (value) {
                $scope.reloadEditor($scope.currentLevel)
            });
            $scope.$watch('currentLevel.width', function (value) {
                $scope.reloadEditor($scope.currentLevel)
            });
            $scope.$watch('currentLevel.height', function (value) {
                $scope.reloadEditor($scope.currentLevel)
            });


            $scope.createCanvasThumb = createCanvasThumb;
            $scope.loadDefault();
        });

        var levelCreatorMode = true;
        window.onload = function () {
            FlipPlus.FlipPlusGame.initializeGame();
        }
        </script>

</head>
<body ng-app="FlipPlusApp" ng-controller="LevelsSortable">
    <h1>Flip+ Level Creator</h1>
    <div id="Projects" class="pannel">
        <h2>Projects</h2>
        <div style="height:600px; overflow:auto ; width: 450px;">
            <div class="app" ng-repeat="project in projects">
                <h3> {{project.nickName}}  </h3>
                <a href="#" value="add" ng-click="addLevel($index)">Add</a>
                <a href="#" value="add" ng-click="deleteLevel($index)">DELETE</a>

                <div class="sortable connectedSortable" ui-sortable="sortableOptions"
                     ng-model="projects[$index].levels">

                    <canvas ng-attr-id="{{$id}}" width="75" height="75" class="levelThumb" ng-repeat="level in project.levels"
                            ng-bind="createCanvasThumb(this.$id,this.level)"
                            ng-click="editLevel(this.level)"></canvas>

                </div>
                <br style="clear:both" />
            </div>
        </div>
    </div>
    <div id="Puzzle" class="pannel">
        <h2>Puzzle</h2>
        <canvas id="myCanvas" screencanvas="true" width="400" height="600"></canvas>
    </div>
    <div id="Settings" class="pannel">
        <h2>Properties</h2>
        <div>
            <h3>size</h3>
            <label for="height">Width:</label> <input class="spinner ui-corner-all ui-widget-content " ng-model="currentLevel.width" />
            <label for="width">Heigth:</label> <input class="spinner ui-corner-all ui-widget-content " ng-model="currentLevel.height" />

        </div>
        <h3>Type</h3>
        <div class="radio">
            <input type="radio" id="radio1a" ng-model="currentLevel.type" value="puzzle" name="radioType"><label for="radio1">Puzzle</label>
            <input type="radio" id="radio2a" ng-model="currentLevel.type" value="time" name="radioType"><label for="radio2">Time</label>
            <input type="radio" id="radio3a" ng-model="currentLevel.type" value="moves" name="radioType"><label for="radio3">Moves</label>
        </div>
        <h3>Color</h3>
        <div class="radio">
            <input type="radio" id="radio1b" ng-model="currentLevel.theme" value="green" name="radioColor"><label for="radio1b">Green</label>
            <input type="radio" id="radio2b" ng-model="currentLevel.theme" value="purple" name="radioColor"><label for="radio2b">Purple</label>
            <input type="radio" id="radio3b" ng-model="currentLevel.theme" value="yellow" name="radioColor"><label for="radio3b">Yellow</label>
        </div>

        <p>
            <span class="textSpan">Fips </span>
            <input class="small ui-widget-content ui-corner-all" id="c_flips" ng-model="currentLevel.moves" />
        </p>
        <p>
            <span class="textSpan">Time </span>
            <input class="small ui-widget-content ui-corner-all" id="c_time" ng-model="currentLevel.time" />
        </p>
        <p>
            <span class="textSpan">to Sove </span>
            <input class="small ui-widget-content ui-corner-all" id="c_p_solve" ng-model="currentLevel.puzzlesToSolve" />
        </p>
        <p>
            <span class="textSpan">Random Min </span>
            <input class="small  ui-widget-content ui-corner-all" id="c_r_min" ng-model="currentLevel.randomMinMoves" />
        </p>
        <p>
            <span class="textSpan">Random Max </span>
            <input class="small ui-widget-content  ui-corner-all" id="c_r_max" ng-model="currentLevel.randomMaxMoves" />
        </p>
        <hr />
        <h2>Storage</h2>
        <input type="button" value="Load" class="ui-button ui-widget ui-state-default ui-corner-all" ng-click="loadFile()" />
        <input type="button" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all" ng-click="saveFile()" />
        <input type="button" value="Clear" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="localStorage.removeItem('customLevels')" />

    </div>
</body>
</html>
