img {
    display: none;
}

html, body {
	overflow: hidden;
	margin: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-ms-scroll-translation: vertical-to-horizontal;
	-webkit-scroll-translation: vertical-to-horizontal;
	scroll-translation: vertical-to-horizontal;
	-ms-content-zooming: none;
	-webkit-content-zooming: none;
	content-zooming: none;
	background-color: black; 
	background-size: cover; 
	background-position-x: center;
	background-image: url('htmlBG.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;  

}

canvas {
    margin: 0;
    background-color: black;
    -ms-touch-action: none;
    touch-action: none;
}
 
/*@-webkit-viewport{width:768px}
@-moz-viewport{width:768px}
@-ms-viewport{width:768px}
@-o-viewport{width:768px}
@viewport   {width:768px}*/
/*
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
     background-color:transparent;

}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}
 
body{
    
    background-image:url('../assets/bg.jpg');
    background-repeat:repeat-y;
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
}

body, a {
    font-family: 'Exo 2.0'; 
    background-color: #000;
    color: white;
    text-align:center;  
}


#myCanvas {
  
    margin-left: auto;
    margin-right: auto;
}

@font-face { font-family:'Exo 2.0';  src: url(../fonts/Exo2.0-Regular.woff); font-weight: normal;}
@font-face { font-family:'Exo 2.0';  src: url(../fonts/Exo2.0-Bold.woff); font-weight: bold;}

.small{
    width:92px;
}

.medium{
	width:90px;
}

.almost{
width:134px;
}

.long { 
width:200px
}

td{
	vertical-align:top
}

.hc {
    height:180px;
}*/